.chicken_falling {
  animation-name: chicken_falling;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes chicken_falling {
  0% {
    transform: translate(100%, -300%);
    rotate: 30deg;
  }
  100% {
    transform: translate(0%, 650%) rotate(360deg);
  }
}
.broccoli_falling {
  animation-name: broccoli_falling;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes broccoli_falling {
  0% {
    transform: translate(0%, -100%);
    rotate: -20deg;
  }
  100% {
    transform: translate(0%, 650%) rotate(720deg);
  }
}
.shake_falling {
  animation-name: shake_falling;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shake_falling {
  0% {
    transform: translate(0%, -500%);
    rotate: 100deg;
  }
  100% {
    transform: translate(-150%, 650%) rotate(-450deg);
  }
}
.pizza_falling {
  animation-name: pizza_falling;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes pizza_falling {
  0% {
    transform: translate(-200%, -500%);
    rotate: 10deg;
  }
  100% {
    transform: translate(200%, 650%) rotate(500deg);
  }
}

.candy_falling{
  animation-name: candy_falling;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes candy_falling{
  0%{
    transform: translate(-100%, -500%);
  }
  100%{
    transform: translate(-200%, 600%) rotate(600deg);
  }
}
.burger_falling{
  animation-name: burger_falling;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes burger_falling{
  0%{
    transform: translate(-100%, -500%);
  }
  100%{
    transform: translate(-200%, 600%) rotate(250deg);
  }
}


