body {
    margin: 0;
}

img {
    width: 100%;
}

#screen {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    grid-area: 1/1;
    display: grid;
    background-color: blue;
    overflow: hidden;
    grid-template-columns: 10%/10%;
    grid-template-rows: 100%;
}

#game_background{
    background-size: cover;
    background-image: url(/images/gym.png);
}